<!DOCTYPE html>
<html>
<head>
    <title>Profile Photo</title>
</head>
<body>
    {% if photo_url %}
        <h1>{{photo_url}}</h1>
        <img src="{{ photo_url }}" alt="Profile Photo">
    {% else %}
        <p>Photo not found.</p>
    {% endif %}
</body>
</html>
