<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
</head>
<body>
    <h2>Create User</h2>
    <form id="userForm" enctype="multipart/form-data" method="POST" action="/user-profile/upload-photo/">
        {% csrf_token %}
        <label for="id">ID:</label>
        <input type="text" id="id" name="id"><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="profile_photo">Profile Photo:</label>
        <input type="file" id="profile_photo" name="profile_photo"><br><br>
        <input type="submit" value="Create User">
    </form>
</body>
</html>
